.flexColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 80%;
}
.flexColumn h2{
    color: rgba(93, 92, 92, 0.912);
    padding-bottom: 40px;
}

