@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');

.app {
 position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: "Science Gothic", sans-serif;
    gap: 70px;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.headline{
    position: absolute;
    top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
}