.blockContainer{
    position: relative;
    width: 23%;
    height: 40%;
    background-color: rgba(131, 130, 130, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: 0.2s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
.active{
     background-color: rgba(255, 255, 255, 0.916);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}