.blockContainer{
    position: relative;
    width: 23%;
    height: 50%;
    background-color: rgba(67, 59, 59, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.active{
    background-color: rgba(174, 170, 170, 0.15);
}